 .content-1 {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.content1-text {
    width: 50%;
    padding: 10px 50px;
}

.content1-text h2 {
    font-size: 45px;
    color: white;
}

.content1-text p {
    font-size: 30px;
    margin: 20px 0 30px 0;
    padding-bottom: 10px;
    color: white;
}

.content1-img {
    width: 50%;
    padding: 50px;
}

.c1-button {
    background-color: grey;
    border: 60px;
    border-radius: 8px;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;    
    cursor: pointer;
}

.c1-button:hover{
    background-color: grey;
}
.content1-img img {
    width: 100%;
}