footer {
    background-color: #000;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .left-content {
    padding-left: 10px;
    font-size: 10px;
  }

  .right-content {
    padding-right: 10px;
    font-size: 10px;
  }